RewriteEngine On


#index ignore hanya menghilangkan file file yg di folder, ketika di akses dari url
IndexIgnore */*

#menghentikan akses folder dari url baik front end dan back end
Options All -Indexes

#error_404 berguna untuk redirect ke halaman error 404.php ketika memaksi akses struktur folder dari url
ErrorDocument 403 /spkmfeb/admin/error/error_404.php

#home
RewriteRule ^home\.html$ ?page=home [L]
RewriteRule ^login\.html$ login.php [L]
RewriteRule ^logout\.html$ logout.php [L]

#admin
RewriteRule ^admin\.html$ ?page=pages/admin/index [L]
RewriteRule ^hapus-admin-([0-9]+)\.html$ ?page=pages/admin/hapusadmin&idhapus=$1 [L]


#kriteria
RewriteRule ^kriteria\.html$ ?page=pages/kriteria/index [L]
#kriteria
RewriteRule ^laporan\.html$ ?page=pages/laporan_excel/index [L]


#siswa
RewriteRule ^siswa\.html$ ?page=pages/siswa/index [L]
RewriteRule ^hapus-siswa-([0-9]+)\.html$ ?page=pages/siswa/hapussiswa&idhapus=$1 [L]


#penialain
RewriteRule ^penilaian\.html$ ?page=pages/penilaian/index [L]
RewriteRule ^hapus-nilai-([0-9]+)\.html$ ?page=pages/penilaian/hapusnilai&idhapus=$1 [L]

#perhitungan
RewriteRule ^perhitungan\.html$ ?page=pages/perhitungan/index [L]
RewriteRule ^hapus-nilai-([0-9]+)\.html$ ?page=pages/penilaian/hapusnilai&idhapus=$1 [L]

#BERITA
RewriteRule ^berita\.html$ ?page=pages/berita/index [L]